@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background: url('../image/background-pattern-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

 font-family: "Oswald", sans-serif;
}

.container {
  width: 70%;
  background-color: #FFF;
  border-radius: 1rem;
  padding: 2rem;

  box-shadow: 0 0 20px #ffffff96;

  .header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: 1px solid #CCC;
    padding-bottom: 1rem;

    img {
      width: 20px;
      margin-right: .5rem;
    }

    span {
      font-size: 1.8rem;
    }
  }

  .accordion {
    .accordion-item {
      position: relative;
      margin: 1.2rem 0;
      border-bottom: 1px solid #CCC;

      .accordion-title {
        font-weight: 300;
        letter-spacing: 1px;
      }

      .accordion-button {
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        width: 25px;
        height: 25px;
        color: #FFF;
        font-size: 1.5rem;
        font-weight: 300;

        position: absolute;
        right: 0;
        top: 0;

        background-color: #301534;
        border-radius: 50%;
        cursor: pointer;

      }

      .accordion-content {
        margin: 1rem 0;
        font-size: .786rem;
        overflow: hidden;
        width: 90%;

        transition: .5s ease;

        p {
          font-weight: 300;
          letter-spacing: 1px;
        }
      }
    }
  }
}
